@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  font-family: "DM Serif Display", serif;
}

/* form main body style */
.todo-form {
  width: 50%;
  background-color: whitesmoke;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* todo app heading style  */

.page-heading{
  display: flex;
  margin: auto;
  padding-top: 10px;
}
.page-heading > img {
  width:40px;
  height: 40px;
  margin-right: 5px;
}
.heading {
  color: black;
  text-decoration: underline;
  font-weight: 400;
}
/* description body style  */
.description {
  display: flex;
  flex-direction: column;
  height: 72px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.description > input {
  height: inherit;
}

.description > label {
  padding-left: 10px;
  padding-top: 10px;
}

input[type="text"] {
  padding-left: 10px;
}

input[type="text"],
textarea {
  background-color: whitesmoke;
  border: none;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.no-outline:focus {
  outline: none;
}

.input-category {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}

.category,
.due-date {
  height: 70px;
  width: 49%;
}

.category {
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.due-date {
  display: flex;
  flex-direction: column;
  border-left: 1px solid gray;
}

.cat-label,
.date-label {
  padding-top: 5px;
  padding-left: 10px;
}

.optionselect {
  background-color: whitesmoke;
  border: none;
  padding: 5px;
  font-size: small;
}

.due-date > input {
  padding-left: 10px;
  font-size: large;
  background-color: whitesmoke;
}

.btn {
  height: 70px;
  display: flex;
}

.add-btn{
  padding-top: 20px;
}

.add-btn {
  flex: 0.6;
}

.delete-btn {
  flex: 0.4;
  padding-top: 5px;
}

.add-button {
  float: right;
  font-size: larger;
  margin-right: 5px;
  padding: 5px 50px;
  background-color: rgb(79, 79, 252);
}

.delete-button {
  padding: 10px 10px;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  background-color: red;
}

.delete-button > a {
text-decoration: none;
color:black;
padding-left: 5px;
}

/* todo data lists styles */

.content-list {
  list-style-type: none;
  border-bottom: 1px solid gray;
}

.contents {
  width: 49vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 70px;

  border-top: 1px solid gray;
}

.data {
  padding-right: 50px;
 
  margin-left: 10px;
  padding-top: 10px;
  display: flex;
  flex: 0.9;
  flex-direction: column;
}

.check-box {
  margin-top: 25px;
  padding: 0 30px;
}

.btn-list {
  border: 1px solid gray;
  height: 85%;
  flex: 0.1;
  padding: 0 15px;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 10px;
  text-align: center;
  background-color: blueviolet;
}

.btn-list > button {
  border: none;
  width: 5vw;
  margin-top: 20px;
  background-color: blueviolet;
  font-size: large;
  font-weight: 500;
}

.text-description{
font-weight: 400;
font-size: larger;
padding-top: 5px;
text-transform: capitalize;
}

.text-date{
font-size:x-small;
padding-bottom: 5px;
text-align: left;

}

.text-date > img{
  width: 12px;
  height: 12px;
  font-weight: 100;
}